<template name="adminMenu">
<li class="dropdown">
    <a class="dropdown-toggle"
        data-toggle="dropdown" href="#" id="themes">
        <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Administration<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="themes">
        <li><a href="/admin">Administration</a></li>
        <li><a href="/admin/accounts">Liste des Comptes</a></li>
        <li class="divider"></li>
        <li><a href="/templatesExamples">Template Examples</a></li>
        <li><a href="/glyphs">Glyphs</a></li>
        <li><a href="/test">Test Page</a></li>
    </ul>
</li>
</template>