<template name="OwnedEquipments">
<!-- <div class="row">
 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Domaines</h3>
			</div>
			<div class="panel-body">
 -->				{{> tabular table=TabDT.OwnedEquipment class="table table-striped table-condensed"}}
  				<a href="/admin/ownedEquipments/add" class="btn btn-primary">Ajouter</a>
<!--			</div>
		</div>
	</div>
</div>-->
</template>

<template name="editOwnedEquipment">
	<a href="/admin/ownedEquipments/{{_id}}" class="btn btn-xs btn-default">Modifier</a>
</template>

<template name="OwnedEquipmentEdition">
{{> OwnedEquipmentRetour}}
{{> quickForm collection="OwnedEquipments" doc=this id="updateOwnedEquipmentForm" type="update"}}
</template>

<template name="OwnedEquipmentAddition">
{{> OwnedEquipmentRetour}}
{{> quickForm collection="OwnedEquipments" id="insertOwnedEquipmentForm" type="insert"}}
</template>

<template name="OwnedEquipmentRetour">
	<a href="/admin/ownedEquipments" class="btn btn-primary">Retour</a>
</template>

