<template name="home">
  <button>Cliquez moi</button>
    {{> coins size="icon-xs" color="icon-yellow"}} 
    {{> coins size="icon-sm" color="icon-yellow"}} 
    {{> coins size="icon-md" color="icon-red"}} 
    {{> coins size="icon-lg" color="icon-yellow"}} 
    {{> crowncoin size="icon-xs" color="icon-yellow"}} 
    {{> crowncoin size="icon-sm" color="icon-yellow"}} 
    {{> crowncoin size="icon-md" color="icon-red"}} 
    {{> crowncoin size="icon-lg" color="icon-yellow"}} 
    {{> swapbag size="icon-xs" color="icon-yellow"}} 
    {{> swapbag size="icon-sm" color="icon-yellow"}} 
    {{> swapbag size="icon-md" color="icon-red"}} 
    {{> swapbag size="icon-lg" color="icon-yellow"}} 
    {{> cash size="icon-xs" color="icon-yellow"}} 
    {{> cash size="icon-sm" color="icon-yellow"}} 
    {{> cash size="icon-md" color="icon-red"}} 
    {{> cash size="icon-lg" color="icon-yellow"}} 
    {{> metaldisc size="icon-xs" color="icon-yellow"}} 
    {{> metaldisc size="icon-sm" color="icon-yellow"}} 
    {{> metaldisc size="icon-md" color="icon-red"}} 
    {{> metaldisc size="icon-lg" color="icon-yellow"}} 
  <p>You've pressed the button {{counter}} times.</p>
</template>
